.main__container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main__header {
  width: 100%;
}
.result__wrapper {
  width: 100%;
  height: 100%;
}
.result__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.results__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__name-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__description-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
